@model ExamProject.Models.Voiture
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Details";
}

<h2 class="ui center aligned whiteBG" style="width:70%;margin-bottom:2em">@Html.DisplayFor(model => model.Marque.NomMarque) @Html.DisplayFor(model => model.Model.NomModel)</h2>

<div class="ui grid center aligned">

    <div class="ui eleven wide column whiteBG">
        <div class="image" style="padding-top:10px">
            <img src="../../@Html.DisplayFor(model => model.ImagePath)" width="100%" style="max-height:1000px" />
        </div>
        <div class="">

        </div>
        <div class="ui grid description">
            <div class="ui four wide column"><span class="ui sub header">@_localizer["Price Per Day"]: </span></div>
            <div class="ui twelve wide column"><span class="ui tag label ui green">@Html.DisplayFor(modelItem => modelItem.PrixParJour) MAD</span></div>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["Make"]:</span> </div>
            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => modelItem.Marque.NomMarque)</span></div>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["Model"]:</span> </div>
            <div class="ui twelve wide column"><span class="ui label"> @Html.DisplayFor(modelItem => modelItem.Model.NomModel)</span></div>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["Year"]:</span></div>
            <span class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => modelItem.Annee)</span></span>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["Color"]: </span></div>
            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => modelItem.Couleur)</span></div>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["Mileage"]: </span></div>
            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => modelItem.Kilometrage)</span></div>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["Mileage"]: </span></div>
            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => modelItem.Kilometrage)</span></div>


            <div class="ui four wide column"><span class="ui sub header">@_localizer["nom de proprietaire"]: </span></div>
            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => Model.ApplicationUser.Nom) @Html.DisplayFor(modelItem => Model.ApplicationUser.Prenom)</span></div>

            <div class="ui four wide column"><span class="ui sub header">@_localizer["tele"]: </span></div>
            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => modelItem.ApplicationUser.PhoneNumber)</span></div>
            <div class="ui four wide column"><span class="ui sub header">@_localizer["diponibilité"]: </span></div>

            @if (Model.EstDisponible)
            {
                <div class="ui twelve wide column"><span class="ui green label">@_localizer["diponible"]</span></div>
            }
            else
            {
                <div class="ui twelve wide column"><span class="ui red label">@_localizer["occupe"]</span></div>
            }

        </div>
        <div class="ui whiteBG">
            <div class="ui center aligned extra">
                <a asp-controller="Voitures" asp-action="Edit" asp-route-id="@Model.Id" class="ui tiny labeled icon button blue"><i class=" ui icon edit"></i>@_localizer["Edit"]</a>
                <a asp-controller="Voitures" asp-action="Delete" asp-route-id="@Model.Id" class="ui tiny labeled icon button red"><i class=" ui icon trash"></i>@_localizer["Delete"]</a>
                <a asp-action="Index" class="ui tiny green labeled icon button"><i class=" ui icon arrow left"></i>@_localizer["Back to List"]</a>
            </div>
        </div>

    </div>

    <div class="ui four wide column whiteBG center aligned" style="padding-top:2em">
        <a asp-action="Allouer" asp-route-id="@Model.Id" class="ui tiny teal labeled icon big button center aligned"><i class="ui icon plus"></i>@_localizer["Allouer"]</a>
        <br />
        <br />
        <a asp-action="ajouterFavori" asp-route-id="@Model.Id" class="ui tiny yellow labeled icon button"><i class=" ui icon star"></i>@_localizer["ajouter aux favoris"]</a>
        <hr />
        <h3>Description</h3>
        <div>
            @Html.DisplayFor(modelItem => modelItem.Description)
        </div>
    </div>
</div>