@model ExamProject.Models.viewModel.EspaceLocataireVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@using ExamProject.Helpers
@{
    ViewData["Title"] = "Index";
}

    <div style="width:80%;margin:auto">
        <form asp-controller="EspaceLocataire" asp-action="Index">
            <div class="ui form">
                <div class="four fields">
                    <input type="text" id="prix" class="ui field input" name="prix" placeholder="@_localizer["Enter a price"]" aria-describedby="basic-addon1" />
                    <input type="text" id="color" class="ui field input" name="color" placeholder="@_localizer["Enter a color"]" aria-describedby="basic-addon1" />
                    <input type="text" id="Marque" class="ui field input" name="Marque" placeholder="@_localizer["Enter a make"]" aria-describedby="basic-addon1" />

                    <select class="ui search dropdown" name="disponibilite">
                        <option value="diponible">disponible</option>
                        <option value="occupe">occupé</option>
               
                        <option value="tous">toutes</option>
                    </select>
                        <button type="submit" class="ui tiny teal labeled icon button field"><i class=" ui icon search"></i>@_localizer["Search by criteria"]</button>
</div>
            </div>
        </form>
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Executive))
        {
            <p>
                <a asp-action="myRents" class="ui blue button"><i class="ui icon car"></i>@_localizer["My rents"]</a>
                <a asp-action="favorites" class="ui yellow button"><i class="ui icon star"></i>@_localizer["My favorits"]</a>
            </p>
        }
        <form method="post" enctype="multipart/form-data" asp-action="Index">
            <div class="ui fluid icon input center">
                <input type="text" asp-for="searchedCar" name="keyword" value="@ViewBag.keyword" placeholder="@_localizer["Enter your keyword"]">
                <i class="search icon"></i>
            </div>
        </form>

        <div class="ui items">
            @foreach (var item in Model.voitures)
            {
                <div class="ui item" style="background:white;border:1px solid #ccc;margin:1.5em;">
                    <div class="image">
                        <img src="@Html.DisplayFor(modelItem => item.ImagePath)" />
                    </div>
                    <div class="content">

                        <div class="header padded">@Html.DisplayFor(modelItem => item.Marque.NomMarque) @Html.DisplayFor(modelItem => item.Model.NomModel)</div>
                        <span class="meta ui green text"> @Html.DisplayFor(modelItem => item.PrixParJour) MAD / Jour</span>

                        <div class="ui grid description">
                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Price Per Day"]: </span></div>
                            <div class="ui twelve wide column"><span class="ui tag label ui green">@Html.DisplayFor(modelItem => item.PrixParJour) MAD</span></div>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Make"]:</span> </div>
                            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Marque.NomMarque)</span></div>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Model"]:</span> </div>
                            <div class="ui twelve wide column"><span class="ui label"> @Html.DisplayFor(modelItem => item.Model.NomModel)</span></div>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Year"]:</span></div>
                            <span class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Annee)</span></span>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Color"]: </span></div>
                            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Couleur)</span></div>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Mileage"]: </span></div>
                            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Kilometrage)</span></div>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["Mileage"]: </span></div>
                            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Kilometrage)</span></div>


                            <div class="ui four wide column"><span class="ui sub header">@_localizer["nom de proprietaire"]: </span></div>
                            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.ApplicationUser.Nom)</span></div>

                            <div class="ui four wide column"><span class="ui sub header">@_localizer["tele"]: </span></div>
                            <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.ApplicationUser.PhoneNumber)</span></div>
                            <div class="ui four wide column"><span class="ui sub header">@_localizer["diponibilité"]: </span></div>

                            @if (item.EstDisponible)
                            {
                                <div class="ui twelve wide column"><span class="ui label">@_localizer["diponible"]</span></div>
                            }
                            else
                            {
                                <div class="ui twelve wide column"><span class="ui label">@_localizer["occupe"]</span></div>
                            }
                        </div>

                        <span class="ui center aligned extra">
                            <a asp-action="Details" asp-route-id="@item.Id" class="ui tiny blue labeled icon button"><i class=" ui icon info"></i>@_localizer["Details"]</a>
                            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Executive))
                            {
                                <a asp-action="Allouer" asp-route-id="@item.Id" class="ui tiny teal labeled icon button"><i class=" ui icon plus"></i>@_localizer["Allouer"]</a>
                                <a asp-action="ajouterFavori" asp-route-id="@item.Id" class="ui tiny yellow labeled icon button"><i class=" ui icon star"></i>@_localizer["ajouter aux favoris"]</a>}
                        </span>
                    </div>
                </div>
            }
        </div>
            <div class="ui pagination menu">
                @{
                    for (int i = 0; i < ViewBag.totalPages; i++)
                    {
                        string className = "item";
                        if (i == ViewBag.currentPage)
                        {
                            className = "active item";
                        }
                        <a class="@className" asp-action="Index" asp-route-page="@i" asp-route-motCle="@ViewBag.motCle">@(i + 1)</a>
                    }
                }
            </div>
            <div class="clear"></div>

        </div>
