@model IEnumerable<ExamProject.Models.Location>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "myRents";
}

    <h2>@_localizer["My rents' history"]</h2>

<p>

</p>
<table class="ui striped table">
    <thead>
        <tr>
            <th>
                @_localizer["Car"]
            </th>
            <th>
                @_localizer["Start date"]
            </th>
            <th>
                @_localizer["End date"]
            </th>
            <th>
                @_localizer["Total price"]
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-action="Details" asp-route-id="@item.VoitureId"> Voiture: @Html.DisplayFor(modelItem => item.Voiture.Marque.NomMarque) @Html.DisplayFor(modelItem => item.Voiture.Model.NomModel) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFin)
                </td>
                <td>
                    <span class="ui green label">
                        @Html.DisplayFor(modelItem => item.PrixTotal) MAD
                    </span>
                </td>

            </tr>
        }
    </tbody>
</table>
