@model IEnumerable<ExamProject.Models.Model>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@_localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @_localizer["Model Name"]
            </th>
            <th>
                @_localizer["Model Make"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque.NomMarque)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
