@model ExamProject.Models.Marque
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Delete";
}

    <h1>@_localizer["Delete"]</h1>

<h3>@_localizer["Are you sure you want to delete this?"] : <span class="ui green label">@_localizer["Make name"] : @Html.DisplayFor(model => model.NomMarque)</span></h3>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="ui tiny labeled icon button red"><i class=" ui icon trash"></i>@_localizer["Delete"]</button>
    <a asp-action="Index">@_localizer["Back to List"]</a>
    </form>
</div>
