@model IEnumerable<ExamProject.Models.Voiture>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@using ExamProject.Helpers
@{
    ViewData["Title"] = "Index";
}

<h1>@_localizer["My cars"]</h1>
<form asp-controller="Voitures" asp-action="Index">
    <div class="ui form">
        <div class="four fields">
            <input type="text" id="prix" class="ui field input" name="prix" placeholder="@_localizer["Enter a price"]" aria-describedby="basic-addon1" />
            <input type="text" id="color" class="ui field input" name="color" placeholder="@_localizer["Enter a color"]" aria-describedby="basic-addon1" />
            <input type="text" id="Marque" class="ui field input" name="Marque" placeholder="@_localizer["Enter a make"]" aria-describedby="basic-addon1" />
            <button type="submit" class="ui tiny teal labeled icon button field"><i class=" ui icon search"></i>@_localizer["Search by criteria"]</button>
        </div>
    </div>
</form>
<p>
    <a asp-action="Create" class="ui green button"><i class="ui icon add"></i>@_localizer["Create New"]</a>
</p>
<div class="ui items">
    @foreach (var item in Model)
    {
        <div class="ui item" style="background:white;border:1px solid #ccc;margin:1.5em;">
            <div class="image">
                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" />
            </div>
            <div class="content">

                <div class="header padded">@Html.DisplayFor(modelItem => item.Marque.NomMarque) @Html.DisplayFor(modelItem => item.Model.NomModel)</div>
                <span class="meta ui green text"> @Html.DisplayFor(modelItem => item.PrixParJour) MAD / >@_localizer["Day"]</span>

                <div class="ui grid description">
                    <div class="ui four wide column"><span class="ui sub header">@_localizer["Price Per Day"]: </span></div>
                    <div class="ui twelve wide column"><span class="ui tag label ui green">@Html.DisplayFor(modelItem => item.PrixParJour) MAD</span></div>

                    <div class="ui four wide column"><span class="ui sub header">@_localizer["Make"]:</span> </div>
                    <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Marque.NomMarque)</span></div>

                    <div class="ui four wide column"><span class="ui sub header">@_localizer["Model"]:</span> </div>
                    <div class="ui twelve wide column"><span class="ui label"> @Html.DisplayFor(modelItem => item.Model.NomModel)</span></div>

                    <div class="ui four wide column"><span class="ui sub header">@_localizer["Year"]:</span></div>
                    <span class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Annee)</span></span>

                    <div class="ui four wide column"><span class="ui sub header">@_localizer["Color"]: </span></div>
                    <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Couleur)</span></div>

                    <div class="ui four wide column"><span class="ui sub header">@_localizer["Mileage"]: </span></div>
                    <div class="ui twelve wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Kilometrage)</span></div>





                </div>

                <span class="ui center aligned extra">
                    @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Executive))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="ui tiny labeled icon button blue"><i class=" ui icon edit"></i>@_localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="ui tiny labeled icon button red"><i class=" ui icon trash"></i>@_localizer["Delete"]</a>}
                    <a asp-action="Details" asp-route-id="@item.Id" class="ui tiny teal labeled icon button"><i class=" ui icon info"></i>@_localizer["Details"]</a>
                </span>
            </div>
        </div>
    }
</div>
<div class="clear"></div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            //var MakeDDL = $("#Marque");
            //var ModelDDL = $("#Model");
            //ModelDDL.prop('disabled', true);
            //MakeDDL.change(function () {
            //    if ($(this).val() == "0") {
            //        ModelDDL.prop('disabled', true);
            //        ModelDDL.val("0");
            //    }
            //    else {
            //        $.ajax({
            //            url: "/api/models/" +$(this).val(),
            //            method: "get",
            //            success: function (data) {
            //                ModelDDL.prop('disabled', false);
            //                ModelDDL.empty();
            //                ModelDDL.append($('<option/>', { value: '0', text: '--Select Model--' }));
            //                $(data).each(function (index, item) {
            //                    ModelDDL.append($('<option/>', { value: item.id, text: item.nomModel }));
            //                });
            //            }
            //        });
            //    }
            //});

            //$("#Model").autocomplete({
            //    source: 'api/voitureapi/searchml' + $("#Marque").val(),
            //    });


            $("#Marque").autocomplete({
                source: 'api/voitureapi/searchmk'
            });
            $("#prix").autocomplete({
                source: 'api/voitureapi/searchp'
            });
            $("#color").autocomplete({
                source: 'api/voitureapi/searchc'
            });

        });</script>

}

