@model IEnumerable<ExamProject.Models.Voiture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="ui green button"><i class="ui icon add"></i>Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="ui card left floated" style="width:350px;float:left;margin:1em;">
        <div class="image left floated">
            <img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="height:290px"/>
        </div>
        <div class="content">
            <div class="header">@Html.DisplayFor(modelItem => item.Marque.NomMarque) @Html.DisplayFor(modelItem => item.Model.NomModel)</div>
            <div class="meta">
                <a class="group"> @Html.DisplayFor(modelItem => item.PrixParJour) MAD / Jour</a>
            </div>
            <div class="description ui grid">
                <div class="ui six wide column"><span class="ui sub header">Prix par jour: </span></div><div class="ui ten wide column"><span class="ui tag label ui green">@Html.DisplayFor(modelItem => item.PrixParJour) MAD</span></div>
                <div class="ui six wide column"><span class="ui sub header">Marque:</span> </div> <div class="ui ten wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Marque.NomMarque)</span></div>
                <div class="ui six wide column"><span class="ui sub header">Modèle:</span> </div><div class="ui ten wide column"><span class="ui label"> @Html.DisplayFor(modelItem => item.Model.NomModel)</span></div>
                <div class="ui six wide column"><span class="ui sub header">Année:</span></div> <span class="ui ten wide column"><span class="ui label">@Html.DisplayFor(modelItem => item.Annee)</span></span>
                <div class="ui six wide column"><span class="ui sub header">Couleur: </span></div><div class="ui ten wide column"> <span class="ui label">@Html.DisplayFor(modelItem => item.Couleur)</span></div>
                <div class="ui six wide column"><span class="ui sub header">Kilométrage: </span></div><div class="ui ten wide column"> <span class="ui label">@Html.DisplayFor(modelItem => item.Kilometrage)</span></div>

            </div>
        </div>
        <div class="extra content">

            <span class="ui center">
                <a asp-action="Edit" asp-route-id="@item.Id" class="ui tiny labeled icon button blue"><i class=" ui icon edit"></i>Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="ui tiny labeled icon button red"><i class=" ui icon trash"></i>Delete</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="ui tiny teal labeled icon button"><i class=" ui icon info"></i>Details</a>
            </span>
        </div>
    </div>
}
 <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.ImagePath)*@
                    Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.PrixParJour)*@
                    Prix Par Jour (Dh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Annee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kilometrage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Couleur)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.ImagePath)" width="150px" height="100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marque.NomMarque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.NomModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrixParJour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Annee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilometrage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Couleur)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
